NODE_ENV=development
BASE_URL=localhost
PORT=3000

AUTH0_DOMAIN=dev-xxxxx.us.auth0.com
AUTH0_CLIENT_ID=seu-client-id
AUTH0_CLIENT_SECRET=seu-client-secret
AUTH0_CALLBACK_URL=http://localhost:3000/auth/callback
SESSION_SECRET=your-SESSION_SECRE

DATABASE_URL=your-database-url
